<!-- 用来得到当前用户信息 -->
<template name="changePassword">
		<div class="row">
	<br/><br/><br/>
	<form>
		<div class="col s10 offset-s1 m6 offset-m3 white">
				<div class="col s12">
					<h2><i class="material-icons">view_list</i>&nbsp;Change Password</h2>
				</div>
		    	<div class="input-field col s12">
		    		  <i class="material-icons prefix ">vpn_key</i>
				      <input name="oldPassword" id="oldPassword" type="password" class="validate">
				      <label class="active" for="oldPassword">Old Password</label>
			    </div>
			    <div class="input-field col s12">
		    		  <i class="material-icons prefix ">vpn_key</i>
				      <input  name="newPassword" id="newPassword" type="password" class="validate">
				      <label class="active" for="newPassword">New Password</label>
			    </div>
			     <div class="input-field col s12">
		    		  <i class="material-icons prefix ">vpn_key</i>
				      <input  name="newPassword2" id="newPassword2" type="password" class="validate password2">
				      <label class="active" for="newPassword2">New Password Again</label>
			    </div>
			    				      <div id="error-message" class="red-text center"></div>
			    <div class="col s12">
			    		<br/>
				      <button class="btn waves-effect waves-light col s12 pink accent-2" type="submit">change
					    <i class="material-icons">send</i>
					  </button>
				      <br/>
			    </div>
	    </div>
	   </form>
	  </div>      
</template>