<template name="changePassword">
    <div class="row">
        <br/><br/><br/>
        <form>
            <div class="col s10 offset-s1 m6 offset-m3 white">
                <div class="col s12 center-align">
                    <h4><i class="material-icons">view_list</i>&nbsp;修改密码</h4>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix ">vpn_key</i>
                    <input name="oldPassword" id="oldPassword" type="password" class="validate">
                    <label for="oldPassword">旧密码</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix ">vpn_key</i>
                    <input  name="newPassword" id="newPassword" type="password" class="validate">
                    <label for="newPassword">新密码</label>
                </div>
                <div class="input-field col s12">
                    <i class="material-icons prefix ">vpn_key</i>
                    <input  name="newPassword2" id="newPassword2" type="password" class="validate password2">
                    <label  for="newPassword2">新密码确认</label>
                </div>
                <div id="error-message" class="red-text center"></div>
                <div class="col s12">
                    <br/>
                    <button class="btn waves-effect waves-light  offset-s2 col s4 " type="submit">提交
                    </button>
                    <a href="{{pathFor 'index'}}" class="btn offset-s1 col s4">返回</a>
                    <br/>
                </div>
            </div>
        </form>
    </div>      
</template>
