<template name="userProfile">
	<div class="row">
	<br/><br/><br/>
		<div class="col s10 offset-s1 m6 offset-m3 white">
				<div class="col s12">
					<h2><i class="material-icons">view_list</i>&nbsp;User Profile</h2>
				</div>
			    <div class="input-field col s12">
			     <i class="material-icons prefix">contacts</i>
			      <input disabled value="{{user.username}}" id="accountId" type="text" class="validate">
			      <label class="active" for="username">Account Id</label>
			    </div>
			    <div class="input-field col s12">
			    	<i class="material-icons prefix">receipt</i>
			      <input disabled value="{{user.profile.root}}" id="root" type="text" class="validate">
			      <label class="active" for="root">Root</label>
			    </div>
			    <div class="input-field col s12">
			     <i class="material-icons prefix">email</i>
			      <input value="{{email}}" id="email" type="email" class="validate">
			      <label class="active" for="email">Email</label>
			    </div>
			    <div class="input-field col s12">
			     <i class="material-icons prefix">perm_contact_calendar</i>
			      <input value="{{user.profile.name}}" id="name" type="text" class="validate">
			      <label class="active" for="name">Username</label>
			    </div>
			    <div class="input-field col s12">
			    	<i class="material-icons prefix">receipt</i>
			      <input value="{{user.profile.group}}" id="group" type="text" class="validate">
			      <label class="active" for="group">Group</label>
			    </div>
			    <div class="col s12">
			    		<br/>
				      <button class="change btn waves-effect waves-light col s12 pink accent-2">change
					    <i class="material-icons">send</i>
					  </button>
				      <br/>
			    </div>
	    </div>
	</div>      
</template>