<template name="submithomework">
    <p>
        <input type="file" class="workfile" name="{{workId}}">
    </p>
</template>

<template name="myhomework">
    <li class="collection-item avatar">
        <i class="material-icons circle green">insert_drive_file</i>
        <span class="title">{{metadata.filename}}</span>
        <p>作业:<span style="color:red;">{{metadata.homework}}</span>➜小组：<span style="color:red;">{{metadata.team}} </span><br>
        上传时间:{{metadata.time}}{{md5}}
        </p>
        <a href="{{url}}" class="secondary-content"><i class="material-icons">file_download</i></a>
    </li>
</template>

<template name="sourcetable">
    <tr>
        <td><a href="{{url}}" class="download" >{{metadata.filename}}</a></td>
        <td>{{metadata.size}}KB</td>
        <td>{{metadata.studentName}}</td>
        <td>{{metadata.time}}</td>
    </tr>
</template>

<template name="sourcefile">
    <div class="container table-container">
        <table class="striped">
            <thead>
                <tr>
                    <th data-field="id">FileName</th>
                    <th data-field="size">Size</th>
                    <th data-field="name">Creator</th>
                    <th data-field="date">Creation Date</th>
                </tr>
            </thead>
            <tbody>
                {{#each workfile}}
                    {{>sourcetable}}
                {{/each}}
            </tbody>
        </table>
        <div class="upload-btn" style="margin-top:10px">
            {{>submithomework}}
        </div>
    </div>
</template>
