<template name="showHomeworks">
    <div class="hws-container">
        <label>Homeworks</label>
        <div class="row">
            {{#each homeworks}}
            {{> pre_submit}}
            {{> pre_review}}
            {{/each}}
        </div>
    </div>
</template>

<template name="pre_submit">
    <div class="col s12 m6 l3">
        <div class="card hw-container">
            <div class="hw-title">
                <div class="orange-text text-darken-3 title-top">HW{{count}}:{{title}}</div>
                <p class="orange-text">submit</p>
            </div>
                <div class="hw-content">
                    <div class="hw-content-title center-align">
                        Deadline:{{showDeadline}}
                    </div>
                    <a href="{{url}}" class=" spec-btn center-align" target="view_window">Homework Spec</a>
                    <a href="#{{_id}}" class="btn modal-trigger orange submit-btn">submit</a>
                </div>
        </div>
    </div>
    <div id="{{_id}}" class="modal modal-fixed-footer">
        <div class="modal-content">
            {{> submit}}
        </div>
        <div class="modal-footer">
            <a href=" " class="modal-action modal-close waves-effect waves-green btn-flat ">Close</a >
            <a href="#!" class="waves-effect waves-green btn-flat submit " name="{{_id}}" >Submit</a >
        </div>
    </div>
</template>

<template name="pre_review">
    <div class="col s12 m6 l3">
        <div class="card hw-container">
            <div class="hw-title">
                <p class="green-text title-top">HW{{count}}:{{title}}</p>
                <p class="green-text">review </p>
            </div>
            <div class="card">
                <div class="hw-image card-image waves-effect">
                    <img src="{{img.url}}" class="activator">
                </div>
                <div class="card-reveal action">
                    <div class="card-title">
                        <i class=" small material-icons right">close</i>
                    </div>
                    <div class="hw-content-title center-align">
                        Deadline:{{showDeadline}}
                    </div>
                    <a href="{{url}}" class="btn blue spec-btn waves-effect"  target="view_window">SPEC</a>
                    <a href="{{pathFor 'studentReview'}}" class="btn blue review-btn">Review</a>
                </div>
            </div>
        </div>
    </div>
</template>
