<template name="addUser">
    <div class="register">
        <br/>
        <div class="row">
            <div class="register-cont">
                 <div class="col s12 m6">  
                    <h4 class="center">添加单个用户</h4>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">person_pin</i>
                        <input id="username" name="username" type="text">
                        <label for="email">用户名</label>
                    </div>

                     <div class="input-field col s12">
                        <i class="material-icons prefix">person_pin</i>
                        <input id="password" name="password" type="password">
                        <label for="password">密码</label>
                    </div>
                     <div class="input-field col s12">
                        <i class="material-icons prefix">person_pin</i>
                        <input id="name" name="name" type="text">
                        <label for="name">名字</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" name="email" type="email">
                        <label for="email">邮箱</label>
                    </div>
                    <div class="input-field col s12" id="register-group" style="display: none">
                        <i class="material-icons prefix">label</i>
                            <input id="group" name="group" type="text">
                            <label for="group">小组</label>
                        <br/>
                    </div>

                    <div class="input-field col s12">
                        <p><input id="root1" class="with-gap" name="root" value="student" type="radio"><label for="root1">学生</label></p>
                        <p><input id="root2" checked class="with-gap" name="root" value="teacher" type="radio"><label for="root2">教师</label></p>
                        <p><input id="root3" class="with-gap" name="root" value="assistant" type="radio"><label for="root3">助教</label></p>
                        <br/>
                        <br/>
                    </div>
                    <div class="register-icon col s12">
                        <div id="error-message" class="red-text center"></div>
                        <button class="btn blue darken-4 col s4 offset-s4 submit">注册
                        </button>
                    </div>
                    <br/><br/>
                </div>

                <div class= "col s12 m6">
                    <h4 class="center">从excel 导入学生用户</h4>
                    <input type="file" class="upfile" />
                    <br/>
                    <a href="/test.xls">导入模版下载</a>
                </div>
            </div>
        </div>
        <br/><br/><br/>
    </div>
</template>
