<template name="addUser">
    <div class="register">
        <br/>
        <div class="row">
            <div class="register-cont">
                 <div class="col s12 m6">  
                    <h4 class="center">添加单个用户</h4>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">person_pin</i>
                        <input id="username" name="username" type="text">
                        <label for="email">Your Id</label>
                    </div>
                     <div class="input-field col s12">
                        <i class="material-icons prefix">person_pin</i>
                        <input id="name" name="name" type="text">
                        <label for="name">Username</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">email</i>
                        <input id="email" name="email" type="email">
                        <label for="email">Email</label>
                    </div>
                    <div class="input-field col s12">
                        <i class="material-icons prefix">receipt</i>
                        <input id="root1" class="with-gap" name="root" value="student" type="radio"><label for="root1">student</label>
                        <input id="root2" checked class="with-gap" name="root" value="teacher" type="radio"><label for="root2">teacher</label>
                        <input id="root3" class="with-gap" name="root" value="assistant" type="radio"><label for="root3">assistant</label>
                        <br/>
                    </div>
                    <div class="register-icon col s12">
                        <div id="error-message" class="red-text center"></div>
                        <br/>
                        <button class="btn waves-effect waves-light col s4 offset-s4 submit">Register Now
                        </button>
                    </div>
                    <br/><br/>
                </div>

                <div class= "col s12 m6">
                    <h4 class="center">从excel 导入学生用户</h4>
                    <input type="file" class="upfile" />
                    <br/>
                    <p>this is a sample:</p>
                    <img src="adduser-sample.png" style="width:100%">
                </div>
            </div>
        </div>
        <br/><br/><br/>
    </div>
</template>
