<template name="assistantReview">
    {{#each reviews}}
    <div class="row">
        <div class="col s12 m12 l12 other-container">
            <div class="other-sub-container z-depth-1">
                <div class="col s12 m12 l12 other-content">

                    <div class="col s3 m3 l3 other-img">
                        <div class="other-img-sub">
                            <a href="#"><img src="{{img.url}}" class="materialbox"></a>
                        </div>
                    </div>
                    <form>
                        <div class="other-comment-parent col s7 m7 l7">
                            <div class="input-field col s12 m12 l12 other-comment">
                                <i class="material-icons prefix">mode_edit</i>
                                <label for="comment">Comment</label>
                                <textarea  class="comment materialize-textarea review_content" id="comment" value="{{content}}"></textarea>
                            </div>
                        </div>
                        <div class="col s2 m2 l2 other-score">
                            <label for="score">Score:</label>
                            <input id="score" type="text" class="validate center-align review_score" value="{{score}}">
                            <input type="submit" class="btn review_btn" value="submit" style="width:100px">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</template>