<template name="assistantReviewList">
    <h4 class="center-align">HW{{count}}:{{title}}</h4>
    {{#each groups}}
        <table class="group">
            <tr>Group {{number}}</tr>
            <tr>
                <td>姓名</td>
                <td>学号</td>
                <td>文件地址</td>
                <td>操作</td>
            </tr>
            {{#each groupStudents}}
                <td>{{profile.name}}</td>
                <td>{{username}}</td>
                <td><button class="btn review_detail_btn" id="{{homeworkId}}">Review</button></td>
            {{/each}}
        </table>
    {{/each}}
</template>
