<template name="reviewOthers">

    <div class="review-header">
        <span class="col-md-3 col-xs-3 col-lg-3 text-center">Group {{group}}</span>
        <span class="col-md-6 col-xs-6 col-lg-6 text-center">{{title}}</span>
        <span class="col-md-3 col-xs-3 col-lg-3 text-center"><a href="{{pathFor 'index'}}">返回</a></span>
    </div>
    {{#each othersHomeworkFile}}
        {{> reviewItem}}
    {{/each}}

</template>

<template name="reviewItem">
    <div class="review-body">
        <div class="panel {{detail.panel}}">
            <div class="{{detail.signcolor}}"></div>
            <div class="review-img">
                <img src="{{img.url}}" alt="">
            </div>
            <div class="review-info text-center">
                <p>{{metadata.studentName}}</p>
                <p>{{metadata.studentNumber}}</p>
                <p><a href="{{this.url}}" class="download-file">源文件</a></p>
                {{#if haveGithubUrl}}
                <p><a href="{{metadata.githubUrl}}">github地址</a></p>
                {{/if}}
            </div>
            <form action="#">
                <div class="review-comment">
                    <textarea class="form-control" id="comment" name="comment" placeholder="请填写不少于50字的评论..." value="{{review.comment}}"></textarea>
                </div>
                <div class="review-score">
                    <div class="score-top form-group">
                        <input type="num" min="0" max="100" name="score" class="form-control text-center input-lg" placeholder="请打分(0~100)" value="{{review.score}}">
                    </div>
                    <div class="{{detail.bgcolor}} text-center">
                        <div style="width:100%">
                        <input type="submit" class="btn {{detail.btncolor}}" value="{{detail.type}}">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</template>
