<template name="studentReview">
    <div class="review-container">
        <div class="row">
            <div class="stureview-header col s12 m12 l12 valign-wrapper">
                <div class="col s3 m3 l3 center-align">
                    <span>Group:{{group}}</span>
                </div>
                <div class="col s6 m6 l6  center-align">
                    <h5>{{title}}</h5>
                </div>
                <div class="col s3 m3 l3 center-align">
                    <a href="{{pathFor 'student'}}">返回</a>
                </div>
            </div>

            <div class="stureview-content col s12 m12 l12">
                <div class="row">
                    <div class="col s4 offset-s4 z-depth-1" style="padding:0px">
                        <ul class="tabs">
                            <li class="tab col s2 m2 l2"><a href="#reviewothers">review others</a></li>
                            <li class="tab col s2 m2 l2"><a href="#othersreview">others' review</a></li>
                        </ul>
                    </div>
                    <div id="reviewothers" class="col s12" style="margin-top:20px">{{> reviewOthers}}</div>
                    <div id="othersreview" class="col s12" style="margin-top:20px">{{> othersReview}}</div>
                </div>
            </div>

        </div>
    </div>
</template>

<template name="reviewOthers">

    {{#each others}}
        {{> showOthers}}
    {{/each}}

</template>

<template name="othersReview">
    {{#each othersreview}}
        {{> showOthersReview}} 
    {{/each}}
</template>


<template name="showOthers">
    
    <div class="review-other-container z-depth-1">
        <div class="review-sign orange darken-3"></div>
        <div class="review-other-content">
            <div class="content-img">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img src="{{img.url}}" class="activator">
                    </div>
                    <div class="card-reveal img-revel">
                        <i class="material-icons right tiny card-title">close</i>
                        <div class="iner-content center-align">
                            <p><a href="{{this.url}}" class="downloadfile">Source File</a></p>
                            <p style="margin-top:30px"><a href="{{metadata.githubUrl}}" target="view_window" >Github</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-info">
                <div class="sub-contetn center-align " style="margin-top:70px;">
                    <h5>{{metadata.userName}}</h5>
                    <h6>{{metadata.studentNumber}}</h6>
                </div>
            </div>
            <form>
                <div class="content-comment">
                    <textarea placeholder="请添加不少于50字的评论..." class="review_content" value="{{review.content}}"></textarea>
                </div>
                <div class="content-score">
                    <div class="score-top">
                        <input type="text" placeholder="请评分(0~100)" value="{{review.score}}" name="score">
                    </div>
                    <div class="score-btn center-align">
                        <input type="submit" class="btn review_btn orange darken-3" value="submit">
                    </div>
                </div>
            </form>
        </div>
    </div>

</template>


<template name="showOthersReview">
    <div class="otherreview-container z-depth-1">
        <div class="sign"></div>
        <div class="content1">{{content}}</div>
        <div class="content2">
            <div class="sub">{{score}}</div>
        </div>
    </div>
</template>
