<template name="taReview">
    <div class="tareview-body">
        <div class="panel {{taReviewInfo.panel}}">
            <div class="{{taReviewInfo.sign}}"></div>
            <div class="{{taReviewInfo.contentStyle}}">
                <textarea id="tacomment" name="tacomment{{Id}}" class="form-control" placeholder="请填写评论" value="{{taReviewInfo.comment}}"></textarea>
            </div>
            <div class="tareview-score">
                <div class="score-top form-group">
                    <input type="text" class="form-control input-lg text-center" name="tascore{{Id}}" placeholder="请打分(0~100)" id="tascore" value="{{taReviewInfo.score}}">
                </div>
                <div class="{{taReviewInfo.btn}} text-center">
                    <div style="width:100%;">
                        <input type="submit" class="btn btn-primary tareview-submit" value="{{taReviewInfo.type}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
