.hwlist-container{
    padding:10px;
    .title-p{
        overflow:hidden;
    }
}
.title1{
    float:left;
    width:20%;
    display:inline-block;
}
.title2{
    width:80%;
    float:left;
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
}
#myscore{
    margin:10px 0 -10px 0;
    height:320px;
    width:101%;
}
#myrank{
    margin:10px 0 -15px 0;
    height:320px;
    width:101%;

}
