.hwlist-container{
    padding:10px;
    .title-p{
        overflow:hidden;
    }
}
.hwitem-content{
    padding:20px 10px;
}
.title1{
    float:left;
    width:auto;
    display:inline-block;
    font-size:20px;
}
.title2{
    width:70%;
    float:left;
    display:inline-block;
    overflow:hidden;
    text-overflow:ellipsis;
    font-size:20px;
}
.card{
    .card-action{
        padding: 10px 10px;
    }
}
#myscore{
    margin:10px 0 -10px 0;
    height:320px;
    width:101%;
}
#myrank{
    margin:10px 0 -15px 0;
    height:320px;
    width:101%;

}
