body{
    background-color:#fff;
}
nav{
    background-color:#0d47a1;
}
#main{
    padding:0 1%;
}
nav{
    ul{
        a{
            padding: 0px;
        }
    }
}
.dropdown-content li > a{
    font-size:1em;
    color:#0d47a1;
}
.nav-title{
    margin-left:1%;
    font-size:1.5em;
    display:inline-block;
    width:auto;
    float:left;
}
.nav-info{
    margin-right:0.5%;
    display:inline-block;
    width:auto;
    float:right;
    ul{
        li{
            margin-right:5px;
        }
    }
}
.nav-name{
    min-width:100px;
    ul{
        position:relative;
    }
}
.progress{
    background-color:#bbdefb;
    .determinate{
        background-color:#0d47a1;
    }
}
