.stureview-header{
    height:60px;
}
.other-container{
    height:207px;
    .other-sub-container{
        height:207px;    
        .card{
            margin:0px;
            padding:0px;
        }
        .other-header{
            background-color:#fff;
            left:1%;
            height:24px;
            border-bottom:solid 1px #b0bec5;
            .autohidden{
                overflow:auto;
            }

        }
        .other-content{
            height:185px;
            background-color:#fff;
            padding:2px 0;
        }
        .other-img{
            height:180px;
            padding:0 2px;
            .other-img-sub{
                img{
                    border-radius:0px;
                    height:180px;
                    width:100%;
                }
            }
        }
        .other-comment-parent{
            padding:0px;
            overflow:auto;
            .other-comment{
                margin-top:15px;
                height:160px;
                padding:0 2px;
            }
        }
        .other-score{
            height:180px;
            .btn{
                padding:0px;
                width:100%;
            }
            input{
                margin-top:28px;
            }
        }
    }
}
.teareview-header{
    height:60px;
}
