.student-container{
    padding-top:5px;
}
.hw-container{
    height:350px;
    .card{
        margin:0px;
        padding:0px;
    }
    .hw-tf-content{
        height:290px;
        .startime{
            position:relative;
            top:80px;
            height:24px;
        }
    }
    .ft-spec{
        display:block;
        position:relative;
        width:50%;
        margin:auto;
        top:150px;
    }
    .hw-content{
        opacity:0.7;
        height:290px;
        background-color:black;
        color:#fff;
        .hw-content-title{
            padding-top:58px;
            width:100%;
            overflow:hidden;
            text-overflow:ellipsis;
            font-size:14px;
            color:#fff;
        }
        .hw-content-deadline{
            padding: 30px 10px;
        }
        .spec-btn{
            position:relative;
            display:block;
            width:50%;
            margin:auto;
            margin-top:80px;
            color:#fff;
        }

        
    }
    .hw-title{
        padding:0 5px;
        height:60px;
        .title-top{
            font-size:20px;
            font-weight::bold;
            height:30px;
            overflow:hidden;
            text-overflow:auto;
        }
    }
    .hw-image{
        width:100%;
        img{
            width:100%;
            height:290px;
        }
    }
    .card-reveal{
        padding:10px;

    }
    .action{
        background-color:black;
        opacity:0.7;
        .hw-content-title{
            padding-top:18px;
            width:100%;
            overflow:hidden;
            text-overflow:ellipsis;
            font-size:14px;
            color:red;
        }
        .action-content{
            margin-top:50px;
            height:136px;
            position:relative;
        }
        .spec-btn{
            position:relative;
            top:40px;
            display:block;
            width:50%;
            margin:auto;
        }
        .review-btn{
            position:relative;
            display:block;
            top:65px;
            width:50%;
            margin:auto;
        }
        .submit-btn{
            position:relative;
            top:90px;
            display:block;
            width:50%;
            margin:auto;
        }
    }
    .previous-action{
        display:block;
        transform: translateY(-100%);
        background-color:black;
        opacity:0.7;
        .hw-content-title{
            padding-top:18px;
            width:100%;
            overflow:hidden;
            text-overflow:ellipsis;
            font-size:14px;
            color:red;
        }
        .pre-spec-btn{
            position:relative;
            top:35px;
            margin:auto;
            width:50%;
            display:block;
        }
        .source-btn{
            position:relative;
            top:60px;
            width:50%;
            display:block;
            margin:auto;
        }
    }
}
