.student-container{
    padding-top:5px;
}
.hw-container{
    height:350px;
    .card{
        margin:0px;
        padding:0px;
    }
    .hw-content{
        margin-top:-12px;
        height:290px;
        background-color:#9e9e9e;
        color:#fff;
        h4{
            padding-top:20px;
        }
        .submit-btn{
            position:relative;
            display:block;
            top:10px;
            opacity:1;
            width:80%;
            margin:auto;
            p{
                color:#fff;
            }
        }
        .spec-btn{
            position:relative;
            display:block;
            width:80%;
            margin:auto;
            margin-top:80px;
        }
    }
    .hw-title{
        padding:0 10px;
        height:60px;
        .title-top{
            font-size:20px;
        }
    }
    .hw-image{
        img{
            width:100%;
            height:290px;
        }
    }
    .action{
        background-color:black;
        opacity:0.7;
        span{
            color:#fff;
        }
        p{
            color:#fff;
        }
        .review-btn{
            position:relative;
            display:block;
            top:10px;
            opacity:1;
            p{
                color:#fff;
            }
        }
        .spec-btn{
            position:relative;
            display:block;
            margin-top:80px;
        }
    }
}
