*{
    margin: 0px;
    padding: 0px;
}
html{
    height:100%;
}
body{
    height:100%;
}

/*login style*/

#login-main{
    height: 100%;
    background: url(bg2.png) no-repeat;
    background-size: 100% 100%;
} 

.bg{
    height: 100%;
    background: url(bg_line.png);
    background-size: 100% 100%;
} .bg .login-header{
    color: #fff;
    height: 350px;
    padding: 10% 0 0 10%;
} .bg .login-header .header-my{
    font-size: 80px;
} .bg .login-header .header-am{
    position: relative;
    top: -25px;
    font-size: 20px;
}
.input-filed{
    margin: auto;
    height: 220px;
    width: 300px;
} .input-filed label{
    color: #fff;
} .input-filed .checkbox-control{
    display: inline-block;
    width: auto;
} .input-filed .find-password{
    float: right;
} .input-filed .login-btn{
    margin: 10px 0px;
    text-align: center;
} .input-filed .login-btn .btn-login{
    width:100px;
}

/*header style*/

.navbar{
    border-radius: 0px;
} .navbar .dropdown-menu > li > a{
    text-align: center;
}

/*admin style*/

/*allUser*/

.alluser-content div{
    overflow: hidden;
    margin: 10px 0px;
}
.adduser-content .form-group{
    padding:0;
} .form-group label{
    margin-top:5px;
}
#student-info{
    margin-top: 10px;
    height:30px;
} #student-info .class{
    margin-right:20px;
}
.submit{
    margin-top: 10px;
    width:80px;
}

/*addUser*/

.addFromExcel-content{
    padding:0px ;
} .addFromExcel-content .upfile{
    margin:10px 0px;
} .addFromExcel-content .excel-submit{
    display:block;
    margin-top:10px;
    width:80px;
} 

/*addHomework*/

.new-homework{
    margin-top:10px;
} .new-homework .col-md-6{
    padding:0px;
} .new-homework .col-md-12{
    padding:0 15px 0 0;
} .new-homework .hw-submit{
    width:80px;
}

/*allhomeworks*/

.hw-container{
    margin-top:10px;
} .hw-container .col-md-6{
    padding-left: 0px;
} .hw-container .panel-footer a{
    margin-right:20px;
} .hw-container .starttime{
    margin-right:20px;
}
.class1{
    text-align:center;
}


