*{
    margin: 0px;
    padding: 0px;
}
html{
    height:100%;
}
body{
    height:100%;
}
#main{
    margin:0px 10px 0px 10px;
}

/*login style*/

#login-main{
    height: 100%;
    background: url(bg2.png) no-repeat;
    background-size: 100% 100%;
} 

.bg{
    height: 100%;
    background: url(bg_line.png);
    background-size: 100% 100%;
} .bg .login-header{
    color: #fff;
    height: 350px;
    padding: 10% 0 0 10%;
} .bg .login-header .header-my{
    font-size: 80px;
} .bg .login-header .header-am{
    position: relative;
    top: -25px;
    font-size: 20px;
}
.input-filed{
    margin: auto;
    height: 220px;
    width: 300px;
} .input-filed label{
    color: #fff;
} .input-filed .checkbox-control{
    display: inline-block;
    width: auto;
} .input-filed .find-password{
    float: right;
} .input-filed .login-btn{
    margin: 10px 0px;
    text-align: center;
} .input-filed .login-btn .btn-login{
    width:100px;
}

/*header style*/

.navbar{
    border-radius: 0px;
    margin-bottom: 10px;
} .navbar .dropdown-menu > li > a{
    text-align: center;
}

/*admin style*/

/*allUser*/

.alluser-content div{
    overflow: hidden;
    margin: 10px 0px;
}
.adduser-content .form-group{
    padding:0;
} .form-group label{
    margin-top:5px;
}
#student-info{
    margin-top: 10px;
    height:30px;
} #student-info .class{
    margin-right:20px;
}
.submit{
    margin-top: 10px;
    width:80px;
}

/*addUser*/

.addFromExcel-content{
    padding:0px ;
} .addFromExcel-content .upfile{
    margin:10px 0px;
} .addFromExcel-content .excel-submit{
    display:block;
    margin-top:10px;
    width:80px;
} 

/*addHomework*/

.new-homework{
    margin-top:10px;
} .new-homework .col-md-6{
    padding:0px;
} .new-homework .col-md-12{
    padding:0 15px 0 0;
} .new-homework .hw-submit{
    width:80px;
}

/*allHomeworks*/

.hw-container{
    margin:10px 10px;
} .hw-container .panel-footer a{
    margin-right:20px;
} .hw-container .starttime{
    margin-right:20px;
} .hw-container .panel-body{
    padding-bottom:5px;
}
.class1{
    text-align:center;
}

.edit-header {
    border-bottom: solid 1px #ddd;
    height:42px;
    padding-top: 20px;
}

/*hightcharts*/

#myscore{
    height:320px;
}
#myrank{
    height:320px;
}
.achievements-container .well{
    padding:5px;
    margin-bottom:10px;
} .achievements-container .col-md-3{
    padding:5px;
} .achievements-container .col-md-6{
    padding:5px;
} .achievements-container .panel-body{
    padding:4px;
} 
.achievements-container .panel-body img{
    width:100%;
    height:280px;
}
.panel-content{
    width: 100%;
    height:280px;
    padding-top:20%;
} .panel-content p{
    text-align: center;
}
.panel-gray{
    border-color: #bdbdbd;
} .panel-gray > .panel-heading{
    color: #fff;
    background-color: #bdbdbd;
    border-color: #bdbdbd;
}
.panel-success{
    border-color:#009688;
} .panel-grey{}
.panel-success > .panel-heading{
    color:#fff;
    background-color:#009688;
    border-color:#009688;
}

/*submit*/

.file-container{
    overflow: hidden;
} .file-container .sourcefile{
    width: 50%;
    float:left;
}

/*review  */

.review-header{
    overflow:hidden;
    margin:20px 0 ;
}
.panel-unsubmit{
    border-color:#ef6c00;
}
.btn-unsubmit{
    background-color: #ef6c00;
    color: #fff;
}
.review-body{
    margin:0 5%;
} .review-body .panel{
    height:200px;
} .review-body .panel .review-sign-unsubmit{
    float:left;
    width:1%;
    height:200px;
    margin-top:-1px;
    background-color: #ef6c00;
    border-radius:4px 0 0 4px;
}.review-body .panel .review-sign-primary{
    float:left;
    width:1%;
    height:200px;
    margin-top:-1px;
    background-color: #337ab7;
    border-radius:4px 0 0 4px;
} .review-body .panel .review-img{
    float:left;
    width:19%;
    height:198px;
} .review-body .panel .review-img img{
    width:100%;
    height:198px;
} .review-body .panel .review-info{
    padding-top:40px;
    font-size:15px;
    float:left;
    width:15%;
    height:198px;
    background-color: #eeeeee;
} .review-body .panel .review-comment{
    float:left;
    width:50%;
    height:198px;
    padding:10px;
    border-right: solid 1px #e0e0e0;
} .review-body .panel .review-comment textarea{
    height:100%;
    font-size:15px;
} .review-body .panel .review-score{
    width:15%;
    height:198px;
    float:left;
} .review-body .panel .review-score .score-top{
    width:100%;
    height:46px;
    margin-bottom:0px;
} .review-body .panel .review-score .score-btn{
    height:152px;
    background-color: #337ab7;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex:initial;
}.review-body .panel .review-score .score-btn-unsubmit{
    height:152px;
    background-color: #ef6c00;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex:initial;
} .review-body .panel .review-score .score-btn input{
    width:80%;
    border-color:#fff;
} .review-body .panel .review-score .score-btn-unsubmit input{
    width:80%;
    border-color:#fff;
}
.review-body .panel .review-score .score-top input{
    font-size:15px;
    border-radius: 0 3px 0  0;
}
.other-review-body{
    margin:0 10%; 
} .other-review-body .panel{
    min-height:200px;
    display:flex;
    overflow:auto;
    word-break:break-all;
} .other-review-body .panel .review-sign-others{
    float:left;
    width:1%;
    margin-top:-1px;
    background-color: #009688;
    border-radius:4px 0 0 4px; 
    flex:initial;
} .other-review-body .panel .other-review-comment{
    padding:10px 15px;
    float: left;
    width:82%;
    min-height:198px;
    font-size:20px;
    background-color: #eeeeee;
} .other-review-body .other-review-score{
    float:left;
    width:17%;
    background-color:#009688;
    border-radius:0 3px 3px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex:initial;
} .other-review-body .other-review-score .showscore{
    width:100%;
    font-size:30px;
    color:#fff;
}

/*tareview*/

.tareview-body{
    margin: 0 5%;
} .tareview-body .panel{
    height: 200px;
}.tareview-body .tareview-sign{
    float:left;
    width:1%;
    height:200px;
    margin-top:-1px;
    background-color: #337ab7;
    border-radius:4px 0 0 4px;
} .tareview-body .panel .tareview-content{
    float:left;
    width:82%;
    height:198px;
    padding:10px;
    border-right: solid 1px #337ab7;
} .tareview-body .panel .tareview-content textarea{
    height: 100%;
    font-size:15px;
    width: 100%;
}.tareview-body .panel .tareview-score{
    float:left;
    width: 17%;
    height: 198px;
} .tareview-body .panel .tareview-score .score-top{
    width: 100%;
    height: 46px;
    margin-bottom: 0px;
} .tareview-body .panel .tareview-score .score-top input{
    font-size: 15px;
    border-radius:0 3px 0 0;
} .tareview-body .panel .tareview-score .score-btn{
    height:152px;
    background-color: #337ab7;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex:initial;
} .tareview-body .panel .tareview-score .score-btn input{
    width: 80%;
    border-color:#fff;
}
.teacher-review-body .panel .review-sign-ta{
    float:left;
    width:1%;
    margin-top:-1px;
    background-color: #337ab7;
    border-radius:4px 0 0 4px; 
    flex:initial;
}
/*teacher review*/

.member-container {
    margin:20px 5%;
}
.teacher-review-body{
    margin:0 5%; 
} .teacher-review-body .panel{
    min-height:200px;
    display:flex;
    overflow:auto;
    word-break:break-all;
} .teacher-review-body .panel .review-sign-others{
    float:left;
    width:1%;
    margin-top:-1px;
    background-color: #009688;
    border-radius:4px 0 0 4px; 
    flex:initial;
} .teacher-review-body .panel .teacher-review-info{
    float:left;
    width:15%;
    border-right:solid 1px #009688;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex:initial;
} .teacher-review-body .panel .teacher-review-comment{
    padding:10px 15px;
    float: left;
    width:67%;
    min-height:198px;
    font-size:20px;
    background-color: #eeeeee;
} .teacher-review-body .teacher-review-score{
    float:left;
    width:17%;
    background-color:#009688;
    border-radius:0 3px 3px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex:initial;
} .teacher-review-body .teacher-review-score-ta{
    float:left;
    width:17%;
    background-color:#337ab7;
    border-radius:0 3px 3px 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex:initial;
}.teacher-review-body .teacher-review-score .showscore{
    width:100%;
    font-size:30px;
    color:#fff;
} .teacher-review-body .teacher-review-score-ta .showscore{
    width:100%;
    font-size:30px;
    color:#fff;
} .teacher-review-body .teacher-review-info .show-info{
    display:block;
    width: 100%;
    font-size:15px;
}
.review-footer{
    overflow:hidden;
    margin-top:20px;
}

/*changepassword*/

.changepasswordForm {
    width: 350px;
    margin: auto;
}
.mask {
    position: absolute;
    background-color: white;
    top: 51px;
    height: 70%;
    width: 100%;
    border: 1px solid #ddd;
    opacity: 0.4;
    vertical-align: center;
}

