<template name="header">

    <nav class="navbar right">
        <div class="nav-title">
            <span>MyAchievements</span>
        </div>
        <div class="nav-info">
            <ul>
                {{#if isStudent}}
                <li class="nav-li">
                    <a href="#">{{userNumber}}</a>
                </li>
                {{/if}}
                <li class="nav-li">
                    <a href="#">
                        <div class="nav-name center-align">
                            <a class='dropdown-button' href='#' data-activates='dropdown'>{{username}}<i class="small mdi-navigation-arrow-drop-down right"></i></a>
                            <ul id='dropdown' class='dropdown-content'>
                                <li><a href="{{pathFor 'changePassword'}}">修改密码</a></li>
                                <li><a href="#!" class="logout">退出</a></li>
                            </ul>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

</template>
