<template name="myachievements">
    <label style="margin-top:10px">My Achievements</label>
    <div class="chart-dashboard">
        <div class="row">
            {{> myscore}}
            {{> myrank}}
        </div>
    </div>
</template>

<template name="myscore">
    <!-- homework Scores-->
    <div class="col s6 m6 l6">
        <div class="card">
            <div class="blue">
                <div class="container">
                    <!-- <span class="chart-title white-text">Homework Score</span>-->
                    <div id="myScore" width="100%" height="200"></div>
                </div>
                <!-- <div class="container">
                    <div id="myScore" width="100%" height="200"></div>
                </div>-->
            </div>
        </div>
    </div>
</template>

<template name="myrank">
    <!-- homework Rank-->
    <div class="col s6 m6 l6">
        <div class="card">
            <div class="cyan darken-1">
                <div class="container">
                    <!-- <span class="chart-title white-text">Homework Rank</span>-->
                    <div id="myRank" width="100%" height="200"></div>
                </div>
            </div>
        </div>
    </div>
</template>

