<template name="header">
    <nav class="navbar navbar-inverse">
        <a href="#" class="navbar-brand">MyAchievements</a>
        <div class="container-fluid">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">{{user.root}}</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{user.name}}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{pathFor 'changePassword'}}" class="change-password">修改密码</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#" class="logout">退出</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
</template>
