<template name="homeworklist">
    <label>Homework List</label>
    <div class="card-widgets">
        <div class="row">
            {{> previous}}
            {{> present}}
            {{> future}}
        </div>
    </div>
</template>
<template name="previous">
     <!-- review-->
     <div class="col s12 m12 l4 ">
         <ul id="task-card" class="collection with-header">
             <li class="collection-header green">
                 <h4 class="task-card-title">Previous Job</h4>                                      
                 <p class="ctask-card-date">Review
                 </p>
             </li>

             <li class="bold" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                 <a class="blue-text center-align collapsible-header waves-effect waves-cyan be-balck" href="{{url}}">titel</a>
             </li>
             <li class="card-content-bg white-text">
                 <img src="/sample-2.png">
             </li>
             <li class="bold fir-blank" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                 <div class="container">
                     <p class="have-blank"> Score:
                     <span class="be-left1">score</span>
                     <span class="other-tag badge waves-effect"><a href="#">HW Spec</a></span>
                     </p>
                     <p class="have-blank"> Group ranking: 
                     <span class="be-left2">groupRank</span>
                     <span class="other-tag badge waves-effect"><a href="#">View Online</a></span>
                     </p>
                     <p class="have-blank"> Class ranking: 
                     <span class="be-left3">{{classRank}}</span>
                     <span class="other-tag badge waves-effect"><a href="#">Source File</a></span>
                     </p>
                 </div>
             </li>
         </ul>
     </div>
</template>

<template name="future">
    <!-- submit-->
    <div class="col s12 m6 l4 ">
        <ul id="task-card" class="collection with-header">
            <li class="collection-header orange">
                <h4 class="task-card-title">Future Work</h4>
                <p class="ctask-card-date">Submit</p>                                       
            </li>
            <li class="bold" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <a class="center-align blue-text collapsible-header waves-effect waves-cyan be-balck" href="{{url}}"> title</a>
            </li>
            <li class="card-content-bg white-text">
                <img src="/sample-1.png">
            </li>
            <li class="bold" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <div class="container">
                    <p class="other-tag badge"><a href="#">HW Spec</a></p>
                    <p class="center-red">Due: Less than 5 hours</p>
                    <p class="other-tag2 badge"><a href="#">Submit</a></p>
                </div>
            </li>
        </ul>
    </div>
</template>

<template name="present">
    <!-- Preview-->
    <div class="col s12 m6 l4 ">
        <ul id="task-card" class="collection with-header">
            <li class="collection-header light-blue">
                <h4 class="task-card-title">Present Job</h4>
                <p class="ctask-card-date">Preview</p>
            </li>
            <li class="bold" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">

                <a class="collapsible-header waves-effect waves-cyan be-balck center-align blue-text" href="{{url}}">title</a>
            </li>
            <li class="card-content-bg white-text">
                <img src="/sample-3.png">
            </li>
            <li class="bold" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
                <div class="container">
                    <p class="other-tag3 badge"><a href="#">HW Spec</a></p>
                    <p class="other-tag3 badge"><a href="#">View Online</a></p>
                    <p class="other-tag3 badge"><a href="#">Source File</a></p>
                    <p class="other-tag4 badge"><a href="#">Rereview</a></p>
                </div>
            </li>
        </ul>
    </div>
</template>

