<template name="teachersHomeworkList">

    <div class="row container">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s6">
                    <a href="#allHomeworkList" class="active">Homework List</a>
                </li>
                {{#if isTeacher}}
                <li class="tab col s6">
                    <a href="#addHomeworkList" >New Homework</a>
                </li>
                {{else}}
                <li class="tab col s6 disabled">
                    <a href="#addHomeworkList" >New Homework</a>
                </li>
                {{/if}}
            </ul>
        </div>
        <div>
            <div id="allHomeworkList" class="col s12">{{> allhomework}}</div>
            <div id="addHomeworkList" class="col s12">{{> newhomework}}</div>
        </div>
    </div>
    
</template>
