<template name="allhomework">

    <div class="hwlist-container">
        <div class="row">
            {{#if ifhashomeworks}}
            {{#each homeworks}}
                {{> homeworkItem}}
            {{/each}}
            {{else}}
            <br>
            <p>当前没有作业</p>
            {{/if}}
        </div>
    </div>

</template>

<template name="homeworkItem">

    <div class="col l6 m12 s12">
        <div class="card  hoverable">
            <div class=" {{hwstate}} white-text hwitem-content">
                <p class="card-title title-p">
                    <div class="title1 ">作业{{count}}:</div>
                    <div class="title2 left-align">{{title}}</div>
                </p>
                <br>
                {{#if isFuture}}
                <p><span class="right">StartAt: {{showStartTime}}</span></p>
                {{else}}
                <p><span class="right">DeadLine: {{showDeadLine}}</span></p>
                {{/if}}
                <span>{{state}}</span>
                <br>
            </div>
            <div class="card-action">
                <a href="{{url}}" class="waves-effect" target="view_window">作业描述</a>
                <a href="{{pathFor 'reviewList'}}" class="right waves-effect" id="check">评审</a>
                {{#if ownHomeWork}}
                <a href="{{pathFor 'homeworkedit'}}" class="waves-effect right edit" id="edit">编辑</a>
                {{/if}}
            </div>
        </div>
    </div>

</template>
