<template name="allhomework">

    <div class="hwlist-container">
        <div class="row">
            {{#if ifhashomeworks}}
            {{#each homeworks}}
            <div class="col l6 m12 s12">
                <div class="card  hoverable">
                    <div class="card-content blue darken-4 white-text">
                        <p class="card-title title-p">
                        <div class="title1">HW{{count}}:</div>
                        <div class="title2">{{title}}</div>
                        </p>
                        <br>
                        <p><span class="right">Deadline: {{showDeadLine}}</span></p>
                        <br>
                        <p class="right-align">submit: 50/100</p>
                    </div>
                    <div class="card-action">
                        <a href="{{url}}" class="waves-effect" target="view_window">HW spec</a>
                        <a>{{status}}</a>
                        <a href="#" class="right waves-effect" id="check">Review</a>
                        {{#if ownHomeWork}}
                        <a href="{{pathFor 'homeworkedit'}}" class="waves-effect right edit" id="edit">Edit</a>
                        <!--<a href="#" class="right" id="delete">删除</a>-->
                        {{/if}}
                    </div>
                </div>
            </div>
            {{/each}}

            {{else}}
            <br>
            <p>当前没有作业</p>
            {{/if}}
        </div>
    </div>

</template>
