<template name="newhomework">
    <div class="container">
        <h4>HW{{count}}:</h4>
        <form>
            <div class="input-filed">
                <label for="title">Your Title:</label>
                <input type="text" id="title" class="validate">
                <label for="id">Your URL:</label>
                <input type="text" id="url" class="validate">
            </div>
            <div class="clear-float">
                <div class="start-time">
                    <label for="starttime">Start Time:</label>
                    <input type="date" id="starttime">
                </div>
                <div class="end-time">
                    <label for="endtime">Deadline:</label>
                    <input type="date" id="deadline">
                </div>
            </div>
            <input type="submit" value="Submit" class="btn waves-effect">
        </form>
    </div>
</template>
